@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .hover-target {
    display: none;
  }

  .hover-trigger:hover .hover-target {
    display: block;
  }

  /* .parallex {
    transform: translateY(-25%);
    transition: transform 0.2s ease;
  }

  .layer {
    transform: translateZ(-2px);
  } */
}

@layer utilities {

  .nav-link {
    @apply pt-5 pb-5 hover:border-t-4  hover:border-yellow-500 border-t-4 border-transparent
  }

  .nav {
    @apply pt-5 pb-5 pl-10 pr-10 sticky
  }

  .padding-lg {
    @apply pt-40 pb-40 pl-28 pr-28
  }

  .padding-md {
    @apply pt-28 pb-10 pl-16 pr-16
  }

  .yellow-btn {
    @apply rounded-[50%] h-[54px] w-[54px] flex text-center justify-center items-center bg-yellow-400 p-4
  }

  .white-nav {
    @apply bg-white text-primary
  }
}